/* Monokai Pro Spectrum */
@define-color background      #222222;
@define-color text            #f7f1ff;
@define-color text-alt        #8b888f;
@define-color background-alt  #131313;
@define-color selected        #bab6c0;
@define-color hover           #69676c;
@define-color urgent          #fc618d;
@define-color accent          #948ae3;
