/* Tokyonight Night */
@define-color background      #1a1b26;
@define-color text            #c0caf5;
@define-color text-alt        #a9b1d6;
@define-color background-alt  #283457;
@define-color selected        #7aa2f7;
@define-color hover           #545c7e;
@define-color urgent          #f7768e;
@define-color accent          #bb9af7;
