/* Monokai Pro Spectrum */
@define-color  background #222222;
@define-color  foreground #f7f1ff;
@define-color  comment #8b888f;
@define-color  border #363537;
@define-color  red #fc618d;
@define-color  orange #fd9353;
@define-color  yellow #fce566;
@define-color  green #7bd88f;
@define-color  blue #5ad4e6;
@define-color  purple #948ae3;
@define-color  light-grey #bab6c0;
@define-color  grey #69676c;
@define-color  dark-grey #525053;
@define-color  dark #191919;
@define-color  darker #131313;

* {
    border: none;
    border-radius: 0;
    font-family: TX-02, "JetBrainsMono Nerd Font Propo";
    font-size: 0.99rem;
    font-weight: 700;
    min-height: 20px;
}

window#waybar {
    background: @background;
}

tooltip {
  background: @dark;
  border: 1px solid @border;
}
tooltip label {
  color: @foreground;
}

#custom-launcher,
#clock,
#workspaces,
#temperature,
#cpu,
#memory,
#custom-notification,
#mpris,
#bluetooth,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#tray,
#battery,
#network {
  color: @foreground;
  background-color: @background;
  padding: 0 10px;
}

#clock {
  margin-right: 0;
}

#bluetooth.disabled {
  color: @comment;
}

#workspaces {
  margin-left: 0;
  padding-left: 0;
  padding-right: 5px;
}

#workspaces .workspace-label {
  color: @foreground;
}

#workspaces button.active .workspace-label {
  color: @purple;
  transition: all 0.3s ease;
}

#workspaces button.urgent {
  color: @red;
  transition: all 0.3s ease;
}
