@import "colorscheme.css";

* {
  border: none;
  border-radius: 0;
  font-family: TX-02, "JetBrainsMono Nerd Font Propo";
  font-size: 0.99rem;
  font-weight: 700;
  min-height: 20px;
}

window#waybar {
  background: @background;
}

tooltip {
  background: @dark;
  border: 1px solid @border;
}
tooltip label {
  color: @foreground;
}

#custom-launcher,
#clock,
#workspaces,
#temperature,
#cpu,
#memory,
#custom-notification,
#mpris,
#bluetooth,
#pulseaudio,
#backlight,
#power-profiles-daemon,
#tray,
#battery,
#custom-menu,
#custom-expand,
#network {
  color: @foreground;
  background-color: @background;
  padding: 0 10px;
}

#clock {
  margin-right: 0;
}

#bluetooth.disabled {
  color: @comment;
}

#workspaces {
  margin-left: 0;
  padding-left: 0;
  padding-right: 5px;
}

#workspaces .workspace-label {
  color: @foreground;
}

#workspaces button.active .workspace-label {
  color: @purple;
  transition: all 0.3s ease;
}

#workspaces button.urgent {
  color: @red;
  transition: all 0.3s ease;
}

menu {
  border-radius: 0px;
  border: @border 1px solid;
  background: @background;
  color: @foreground;
}

menuitem #reboot,
menuitem #logout,
menuitem #lock {
  color: pink;
}
