/* Carbonfox */
@define-color background #161616;
@define-color foreground #f2f4f8;
@define-color comment #484848;
@define-color border #282828;
@define-color red #ee5396;
@define-color green #25be6a;
@define-color blue #33b1ff;
@define-color purple #be95ff;
@define-color dark #161616;
