/* Tokyonight Night */
@define-color background #1a1b26;
@define-color foreground #c0caf5;
@define-color comment #a9b1d6;
@define-color border #414868;
@define-color red #f7768e;
@define-color green #9ece6a;
@define-color blue #7aa2f7;
@define-color purple #bb9af7;
@define-color yellow #e0af68;
@define-color teal #7dcfff;
@define-color dark #1a1b26;
